<section class="hero-bg" style="background-image: url('../assets/img/white_banner_bg.png');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-12">
        <h1 class="banner-heading">Explore</h1>
        <p class="banner-text">Explore Our Services: Tailored Solutions to Meet Your Needs.</p>
      </div>
      <div class="col-lg-5 col-md-6">
        <img src="../assets/img/Banner-img/services-explore.png" alt="banner" class="banner-1">
      </div>
    </div>
  </div>
</section>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/services" routerLinkActive="active">Services</a></li>
    <li class="breadcrumb-item active" aria-current="page">UI / UX Design</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12 service-explor-heading">
      <h1 class="heading">Graphic Design Services</h1>
      <div class="d-flex align-items-center justify-content-center mb-2">
        <hr><span class="iconify me-4 ms-4 square" data-icon="ic:outline-square" data-width="20" data-height="20"
          data-rotate="48deg"></span>
        <hr>
      </div>
      <h4 class="subheading text-justify">
        Enhance your brand's image with our top-notch Graphic Design Services. Our team of artistic professionals is committed to fashioning visually striking designs that are sure to make a lasting impact. Whether you require captivating logos, attention-grabbing marketing materials, or compelling web graphics, we've got all your design needs covered. With our meticulous attention to detail and a deep-seated passion for creativity, we breathe life into your concepts. Let us turn your ideas into compelling visuals that truly resonate with your target audience. Dive into our comprehensive Graphic Design Services and propel your brand to the next level. This content is optimized for search engines to boost your online visibility and engagement.
      </h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card service-explor-card text-center mb-4">
        <div>
          <img src="../assets/img/logo-design.png" class="card-img-top" alt="Logo Design">
        </div>
        <div class="card-body">
          <h5 class="card-title">Logo Design</h5>
          <p class="card-text">Crafting Unique Identities: Elevate Your Brand with Our Logo Design Services.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card service-explor-card text-center mb-4">
        <div>
          <img src="../assets/img/graphic-design.png" class="card-img-top" alt="Graphics Designs">
        </div>
        <div class="card-body">
          <h5 class="card-title">Graphics Designs</h5>
          <p class="card-text">Captivating Visuals: Transform Your Vision into Stunning Graphics with Our Design Expertise.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card service-explor-card text-center mb-4">
        <div>
          <img src="../assets/img/animation.png" class="card-img-top" alt="Animations">
        </div>
        <div class="card-body">
          <h5 class="card-title">Animations</h5>
          <p class="card-text">Bringing Ideas to Life: Captivate Your Audience with Our Animation Services.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card service-explor-card text-center mb-4">
        <div>
          <img src="../assets/img/Photoshop.png" class="card-img-top" alt="Photoshop">
        </div>
        <div class="card-body">
          <h5 class="card-title">Photoshop</h5>
          <p class="card-text">Pixel Perfection: Transform Your Vision with Our Photoshop Expertise.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card service-explor-card text-center mb-4">
        <div>
          <img src="../assets/img/Prototyping.png" class="card-img-top" alt="Prototyping">
        </div>
        <div class="card-body">
          <h5 class="card-title">Prototyping Design</h5>
          <p class="card-text">Innovate with Precision: Explore the Future through Prototyping Design.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card service-explor-card text-center mb-4">
        <div>
          <img src="../assets/img/Wireframes.png" class="card-img-top" alt="Wireframes">
        </div>
        <div class="card-body">
          <h5 class="card-title">Wireframes Design</h5>
          <p class="card-text">Sculpting Digital Blueprints: Elevate Your Vision with Wireframe Design.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-grid gap-2 d-sm-flex justify-content-center mb-5 mt-4">
  <button type="button" class="btn btn-secondary btn-lg px-4" (click)="Enquirymodal()">
    Call to Action
  </button>
</div>