<div class="modal-content">
	<div class="modal-body">
		<img src="../assets/img/SuccesfulySend.png" class="success-img" viewBox="0 0 691 538" fill="none">
		<h1 class="Enqury-modal-text">Succesfuly Send Enqury</h1>
	</div>
	<div class="d-flex justify-content-center" data-bs-dismiss="modal" style="position: relative; bottom: 15px;">
		<a href="#" data-bs-dismiss="modal" aria-label="Close"
		class="btn btn-primary Succesfuly-Send-Enqury-btn" (click)="activeModal.dismiss()">Ok<span class="iconify-inline ms-2"
		data-icon="noto:thumbs-up"></span></a>
	</div>
</div>