.nav-link.active {
 border-left: 3px solid #b7b7b7;
 border-bottom: none;
 background: #00537D;
 color: white;
}
.privacy-policy .nav li a {
 padding: 10px 19px;
}
.privacy-policy .nav {
 display: flex;
 justify-content: left;
 list-style: none;
 margin: 24% 0% 0 -42px;
}
.privacy-policy .nav-heading {
 padding: 10px 0px;
}
