<section class="hero-bg d-flex align-items-center" style="background-image: url('../assets/img/white_banner_bg.png');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8 col-md-12">
        <h1 class="banner-heading">Terms & Conditions</h1>
        <p class="banner-text">Understanding Our Terms: Explore Our Policies and Guidelines.</p>
      </div>
      <div class="col-lg-4">
        <img src="../assets/img/Banner-img/TermsConditions.png" alt="Banner" class="banner-1">
      </div>
    </div>
  </div>
</section>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
  </ol>
</nav>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12 privacy-policy">
      <div class="flex-container">
        <div class="flex-left" style="padding-bottom: 450px;">
          <div class="nav navbar navbar-light bg-light flex-column align-items-stretch p-3">
            <ul>
              <li class="nav-heading">Explore By Chapter</li>
              <li><a (click)="scrollToSection('chapter1')" class="nav-link scroll"><span class="nav-number">1</span> Introduction</a>
              </li>
              <li><a (click)="scrollToSection('chapter2')" class="nav-link scroll"><span class="nav-number">2</span> Privacy and Data Security</a>
              </li>
              <ul>
                <li><a (click)="scrollToSection('chapter2-1')" class="nav-link scroll"><span
                      class="nav-number">2.1</span> Data Collection</a></li>
                <li><a (click)="scrollToSection('chapter2-2')" class="nav-link scroll"><span
                      class="nav-number">2.2</span>  Data Security</a></li>
              </ul>
              <li><a (click)="scrollToSection('chapter3')" class="nav-link scroll"><span class="nav-number">3</span>Acceptance of Terms</a>
              </li>
              <li><a (click)="scrollToSection('chapter4')" class="nav-link scroll"><span class="nav-number">4</span>Changes to Terms</a>
              </li>
              <li><a (click)="scrollToSection('chapter5')" class="nav-link scroll"><span class="nav-number">5</span>Intellectual Property</a>
              </li>
              <li><a (click)="scrollToSection('chapter6')" class="nav-link scroll"><span class="nav-number">6</span>User Responsibilities</a>
              </li>
              <li><a (click)="scrollToSection('chapter7')" class="nav-link scroll"><span class="nav-number">7</span>Termination of Services</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex-right mb-4" offset="100">
          <div class="title">
            <h1>Lorem Ipsum is simply dummy text.</h1>
          </div>
          <div class="text-area" id="chapter1">
            <div class="text-part">
              <h2>1 Introduction</h2>
              <p>Terms and Conditions, often abbreviated as T&C or TOS (Terms of Service), are a legal document that outlines the rules, guidelines, and contractual obligations that govern the relationship between a company or service provider and its users or customers. The introduction section of these terms typically provides an overview of the document's purpose and key points. It may include information about the company or service, a statement about the user's agreement to adhere to the terms, and an explanation of the document's structure. The introduction sets the tone for the rest of the Terms and Conditions and serves as the starting point for users to understand their rights and responsibilities when using a particular service or product.</p>
            </div>
          </div>
          <div class="text-area" id="chapter2">
            <div class="text-part">
              <h2>2 Privacy and Data Security</h2>
              <p>Your privacy is important to us. Please refer to our Privacy Policy to understand how we collect, use, and protect your personal information. We are committed to ensuring that your personal data is handled with the utmost care and responsibility. Your privacy is of paramount importance to us, and we are dedicated to maintaining the highest standards in this regard.</p>
            </div>
          </div>
          <div class="text-area" id="chapter2-1">
            <div class="text-part">
              <h2>2.1 Data Collection</h2>
              <p>In our Privacy Policy, we provide comprehensive information on how we collect data from our users. This includes details about the type of data we collect, such as contact information, browsing history, and preferences, as well as the methods used for data collection, like cookies and user-provided information. We are committed to transparency in this process and ensuring that you understand what data is being collected and for what purposes.
              </p>
            </div>
          </div>
          <div class="text-area" id="chapter2-2">
            <div class="text-part">
              <h2>2.2 Data Security</h2>
              <p>The security of your data is a top priority for us. In our Privacy Policy, we elaborate on the measures and protocols we have in place to protect your personal information from unauthorized access, disclosure, alteration, and destruction. This includes encryption, access controls, regular security audits, and employee training. We want to assure you that your data is in safe hands and is treated with the highest level of security and confidentiality.</p>
            </div>
          </div>
          <div class="text-area" id="chapter3">
            <div class="text-part">
              <h2>3 Acceptance of Terms</h2>
              <p>By accessing our website or utilizing our services, you are indicating your acknowledgment that you have carefully read and comprehended these terms and conditions. It is essential that you agree to comply with all pertinent laws and regulations in relation to our services. However, if you do not concur with these terms, we kindly request that you refrain from using our services. Your use of our website and services is contingent upon your acceptance of these terms and conditions.</p>
            </div>
          </div>
          <div class="text-area" id="chapter4">
            <div class="text-part">
              <h2>4 Changes to Terms</h2>
              <p>At DevTroops, we are committed to providing the best experience for our users. As part of this commitment, we may, from time to time, need to update our terms and conditions to better serve you.</p>
              <p> Our 'Changes to Terms' policy ensures transparency and accountability in this process. We reserve the right to modify these terms and conditions at any time. It is important for you to periodically review them for any updates or changes. We believe in keeping you informed every step of the way.</p>
              <p> Your continued use of our website or services after modifications implies your acceptance of the revised terms. We appreciate your trust and partnership and want to ensure you're always in the know. </p>
              <p>Your satisfaction is our priority, and we encourage you to reach out if you have any questions about our terms and conditions. Thank you for being a valued part of our community." </p>
            </div>
          </div>
          <div class="text-area" id="chapter5">
            <div class="text-part">
              <h2>5 Intellectual Property</h2>
              <p>Intellectual Property (IP) lies at the core of our online presence, and it is essential to understand that all content featured on our website is safeguarded by stringent intellectual property laws. As DevTroops, we take these protections seriously to ensure the integrity of our creative and proprietary works. This means that users, visitors, or any third parties are explicitly prohibited from engaging in unauthorized use, copying, or distribution of our content.</p>
              <p>Our commitment to protecting intellectual property is reflected in the strict requirement for prior written consent from DevTroops for any usage beyond personal, non-commercial viewing of our website. This consent acts as a formal gateway to access our content, and it ensures that our rights and the rights of our creators are upheld.</p>
              <p> Respecting intellectual property is crucial, not just for legal compliance but also for ethical and creative reasons. It acknowledges the hard work, talent, and dedication of our team in producing the content that you see on our website. It also reinforces our commitment to delivering high-quality, unique, and innovative material for your benefit.</p>
              <p> We encourage a responsible and ethical approach towards intellectual property, and we invite you to reach out to us for any inquiries regarding the use of our content. Our team is readily available to address your requests, collaborate on potential partnerships, and provide the necessary permissions where applicable.</p>
              <p>We take immense pride in our intellectual property and the distinctive value it adds to our website. It is through these protections and our dedication to creative excellence that we can continue to provide you with valuable, engaging, and unique content. Thank you for your understanding and support in respecting intellectual property rights. </p>
            </div>
          </div>
          <div class="text-area" id="chapter6">
            <div class="text-part">
              <h2>6 User Responsibilities</h2>
              <p><b>Accuracy and Legality:</b> Users bear the responsibility for ensuring the accuracy and legality of any information they contribute to our website. This includes text, images, and any other content shared.</p>

              <p><b>Non-Harmful Activities:</b> It is essential that users refrain from engaging in any activities that could potentially harm our website, its services, or negatively impact the experience of other users. </p>

              <p><b>Compliance with Terms:</b> Users are obligated to comply with the terms and conditions laid out in our policies and agreements. Understanding and adhering to these guidelines is paramount.</p>

              <p><b>Respect for Privacy:</b> Users must respect the privacy of other individuals while using our platform, refraining from any unauthorized sharing of personal information or engaging in activities that compromise privacy.</p>
              <p><b>Responsible Communication:</b> Responsible and respectful communication is vital. Users should refrain from engaging in any form of harassment, hate speech, or otherwise harmful behavior toward others.</p>
              <p><b>Regular Review:</b> Users are encouraged to regularly review our terms and conditions to stay informed of any updates or changes, ensuring ongoing compliance with our policies.</p>
            </div>
          </div>
          <div class="text-area" id="chapter7">
            <div class="text-part">
              <h2>7 Termination of Services</h2>
              <p>The termination of services is a critical aspect of our commitment to maintaining a safe and compliant environment for all our users. We want to ensure that our platform remains a place where everyone can enjoy the benefits of our services without disruption. Consequently, we retain the authority to end your access to our services if there is a breach of our terms and conditions. This provision is in place to protect the rights and interests of all parties involved.</p>
              <p>Our decision to terminate access will always be made judiciously and in accordance with the guidelines set forth in our terms and conditions. We take violations seriously and will assess each case on an individual basis. While our goal is to maintain a fair and respectful online community, we understand that mistakes can happen. If your access is terminated, you will be promptly notified and provided with an explanation for the termination. We believe in open communication and transparency when it comes to such actions. </p>
              <p>We encourage users to thoroughly review our terms and conditions to ensure they are in compliance. It's essential to understand that adherence to our guidelines is not only beneficial for the community but also for your continued access to our services. We hope that these measures will help us continue to provide a positive and secure environment for all our users. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>