  <!-- Header Bar -->
  <div>
    <section class="main-hero-bg" style="background-image: url('../assets/img/white_banner_bg.png');">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="content">
              <div class="px-4 py-5 pb-0">
                <h1 class="display-5">Deliver <b>Innovative IT</b></h1>
                <h1 class="display-5"><b>Solutions</b> For Technology</h1>
                <div class="">
                  <p class="lead mb-4">
                    Let’s embody your beautiful ideas together, simplify the way
                    you visualize your next big things.
                  </p>
                  <div class="d-grid gap-2 d-sm-flex justify-content-start">
                    <button type="button" class="btn btn-secondary btn-lg px-4" (click)="Enquirymodal()">
                      Call to Action
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <img class="w-100" src="../assets/img/index-banner.svg" alt="index-banner">
          </div>
        </div>
      </div>
    </section>
    <!-- Wave Bar -->
    <div class="wave">
      <svg class="editorial" viewBox="0 24 150 28" preserveaspectratio="none">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0
            58-18 88-18s
            58 18 88 18
            58-18 88-18
            58 18 88 18
            v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="50" y="0" fill="#f6f4ff" />
          <use xlink:href="#gentle-wave" x="50" y="3" fill="#f6f4ff" />
          <use xlink:href="#gentle-wave" x="50" y="6" fill="#f6f4ff" />
        </g>
      </svg>
    </div>
  </div>
  <!-- What we Offer  -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="heading">What We Offer</h1>
          <div class="d-flex align-items-center justify-content-center mb-2">
            <hr><span class="iconify me-4 ms-4 square" data-icon="ic:outline-square" data-width="20" data-height="20"
              data-rotate="48deg"></span>
            <hr>
          </div>
          <h4 class="subheading">We offer customized and reliable software and technology solutions<br>
            to meet our clients' unique business needs.</h4>
        </div>
        <div class="col-md-6  d-flex align-items-center justify-content-end">
          <a routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page" type="button"
            class="btn btn-header">
            See all Services
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-chevron-right ms-2" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <section class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card service-card mb-5">
              <div class="service-card-round">
                <img src="../assets/img/shopping.png" class="card-img-top" alt="Ecommerce Development">
              </div>
              <div class="card-body">
                <h5 class="card-title"><b>Ecommerce Development</b></h5>
                <p class="card-text">Our eCommerce development services provide customized solutions to help businesses
                  increase sales and improve their online presence.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card service-card mb-5">
              <div class="service-card-round">
                <img src="../assets/img/mobile-application.png" class="card-img-top" alt="Mobile Application Development">
              </div>
              <div class="card-body">
                <h5 class="card-title"><b>Mobile Application Development</b></h5>
                <p class="card-text">We provide mobile application development services to
                  help businesses create innovative and user-friendly apps
                  that meet their unique needs.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card service-card mb-5">
              <div class="service-card-round">
                <img src="../assets/img/ux-ux.png" class="card-img-top" alt="UI/UX Design">
              </div>
              <div class="card-body">
                <h5 class="card-title"><b>UI/UX Design</b></h5>
                <p class="card-text">Our UI/UX design services create intuitive and visually
                  appealing interfaces that enhance user experience and
                  engagement.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card service-card mb-5">
              <div class="service-card-round">
                <img src="../assets/img/web-development.png" class="card-img-top" alt="Website Development">
              </div>
              <div class="card-body">
                <h5 class="card-title"><b>Website Development</b></h5>
                <p class="card-text">Our website development services deliver custom-built,
                  responsive websites that engage users and elevate our
                  clients' online presence.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card service-card mb-5">
              <div class="service-card-round">
                <img src="../assets/img/QA.png" class="card-img-top" alt="QA and Performance Testing">
              </div>
              <div class="card-body">
                <h5 class="card-title"><b>QA and Performance Testing</b></h5>
                <p class="card-text">Our QA and performance testing services ensure the
                  reliability and scalability of software products, enabling
                  our clients to deliver exceptional user experiences.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card service-card mb-5">
              <div class="service-card-round">
                <img src="../assets/img/team.png" class="card-img-top" alt="Team Augmentation & Outsourcing">
              </div>
              <div class="card-body">
                <h5 class="card-title"><b>Team Augmentation & Outsourcing</b></h5>
                <p class="card-text">We provide businesses with the flexibility to scale up or
                  down their development team as needed, without
                  compromising quality or productivity.</p>
              </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-center">
            <button type="button" class="btn btn-secondary btn-lg px-4" (click)="Enquirymodal()">
              Call to Action
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- About -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading">About DevTroop</h1>
          <div class="d-flex align-items-center justify-content-center mb-2">
            <hr><span class="iconify me-4 ms-4 square" data-icon="ic:outline-square" data-width="20" data-height="20"
              data-rotate="48deg"></span>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="../assets/img/About-Vactor.png" width="100%" height="538" viewBox="0 0 691 538" fill="none">
          </div>
          <div class="col-lg-6">
            <div class="about-text">
              <p>DevTroop is a reliable technology partner specializing in software and technology development. We are
                experts in eCommerce, content management, web, iOS, and Android development, and provide customized
                solutions to meet our clients' needs. With a team of skilled professionals, we work closely with our
                clients to deliver high-quality products and services. As a reliable technology partner, we are committed
                to providing exceptional customer service and support, ensuring our clients' success in the ever-evolving
                digital landscape.</p>
              <div class="d-flex align-items-center justify-content-space-between">
                <button type="button" class="btn btn-link-dark" routerLink="/case-study" routerLinkActive="active">
                  Explore
                </button>
                <hr style="width: 7%;">
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12 mb-3">
                  <div class="align-items-center d-flex">
                    <img src="../assets/img/Microsoft.png" alt="Microsoft Certified" class="me-2">
                    <div>
                      <h4>Microsoft Certified</h4>
                      <p>Elevate Your Business with Our Microsoft Certified Expertise.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                  <div class="align-items-center d-flex">
                    <img src="../assets/img/AWS.png" alt="AWS Certified" class="me-2">
                    <div>
                      <h4>AWS Certified</h4>
                      <p>Certified by AWS for Exceptional Cloud Expertise.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                  <div class="align-items-center d-flex">
                    <img src="../assets/img/Mongo-DB.png" alt="Mongo DB Atlas" class="me-2">
                    <div>
                      <h4>Mongo DB Atlas</h4>
                      <p>Empowered by MongoDB Atlas Certification for Data Excellence.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                  <div class="align-items-center d-flex">
                    <img src="../assets/img/WCAG.png" alt="(WCAG) 2.0" class="me-2">
                    <div>
                      <h4>(WCAG) 2.0</h4>
                      <p>Committed to Inclusive Accessibility: WCAG 2.0 Certified.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Industry-Leading Process -->
  <div class="Leading-Process" style="background-image: url('../assets/img/0061.png');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading">Industry-Leading Process</h1>
          <div class="d-flex align-items-center justify-content-center mb-2">
            <hr><span class="iconify me-4 ms-4 square" data-icon="ic:outline-square" data-width="20" data-height="20"
              data-rotate="48deg"></span>
            <hr>
          </div>
          <h4 class="subheading text-center">Our industry-leading software development process ensures that we deliver
            high-quality, reliable, and secure products and services to our clients.</h4>
        </div>
        <div class="col-md-12 development-process mb-5">
          <div class="row justify-content-center">
            <div class="col-md-1 col-sm-12 mt-5">
              <div class="round">
                <img src="../assets/img/discussion.png" alt="Discuss">
              </div>
              <h5>Discuss</h5>
            </div>
            <div class="col-md-1 arrow-vector">
              <img src="../assets/img/Vector.png" alt="image">
            </div>
            <div class="col-md-1">
              <div class="round">
                <img src="../assets/img/planning.png" alt="Planning">
              </div>
              <h5>Planning</h5>
            </div>
            <div class="col-md-1 arrow-vector">
              <img src="../assets/img/Vector.png" alt="image" style="transform: rotate(45deg);">
            </div>
            <div class="col-md-1 mt-5">
              <div class="round">
                <img src="../assets/img/sketch.png" alt="Sketch">
              </div>
              <h5>Sketch</h5>
            </div>
            <div class="col-md-1 arrow-vector">
              <img src="../assets/img/Vector.png" alt="image">
            </div>
            <div class="col-md-1">
              <div class="round">
                <img src="../assets/img/graphic-design-home.png" alt="Design">
              </div>
              <h5>Design</h5>
            </div>
            <div class="col-md-1 arrow-vector">
              <img src="../assets/img/Vector.png" alt="image" style="transform: rotate(45deg);">
            </div>
            <div class="col-md-1 mt-5">
              <div class="round">
                <img src="../assets/img/data.png" alt="Development">
              </div>
              <h5>Development</h5>
            </div>
            <div class="col-md-1 arrow-vector">
              <img src="../assets/img/Vector.png" alt="image">
            </div>
            <div class="col-md-1">
              <div class="round">
                <img src="../assets/img/fast-delivery.png" alt="Deliver">
              </div>
              <h5>Deliver</h5>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-center mt-3">
          <button type="button" class="btn btn-secondary btn-lg px-4" (click)="Enquirymodal()">
            Call to Action
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Case study -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="heading">Case Studies</h1>
          <div class="d-flex align-items-center justify-content-center mb-2">
            <hr><span class="iconify me-4 ms-4 square" data-icon="ic:outline-square" data-width="20" data-height="20"
              data-rotate="48deg"></span>
            <hr>
          </div>
          <h4 class="subheading">Explore our case studies to see how we've helped our clients achieve their goals through
            our expertise in software and technology development.</h4>
        </div>
        <div class="col-md-6  d-flex align-items-center justify-content-end mt-4">
          <a routerLink="/case-study" routerLinkActive="active" type="button" class="btn btn-header">See all Case Studies
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-chevron-right ms-2" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg></a>
        </div>
      </div>
    </div>
    <section class="Case-Studies mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let items of case_data | slice:0:6">
            <a routerLink="/case-study" routerLinkActive="active" class="card text-center text-decoration-none">
              <img src={{items.img}} class="card-img-top" alt="TransitFare">
              <div class="card-body">
                <h5 class="card-title">{{items.title}}</h5>
                <p class="card-text">{{items.content}}</p>
                <span class="badge text-bg-primary mx-1">{{case_course.Edev}}</span>
                <span class="badge text-bg-secondary mx-1">{{case_course.UI}}</span>
                <span class="badge text-bg-success mx-1">{{case_course.AppDev}}</span>
                <span class="badge text-bg-danger mx-1">{{case_course.AngularDev}}</span>
                <span class="badge text-bg-warning mx-1">{{case_course.Grapic}}</span>
                <span class="badge text-bg-info mx-1">{{case_course.DB}}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- our-technologies -->
  <div class="our-technologies">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading">Our Technologies</h1>
          <div class="d-flex align-items-center justify-content-center mb-2">
            <hr><span class="iconify me-4 ms-4 square" data-icon="ic:outline-square" data-width="20" data-height="20"
              data-rotate="48deg"></span>
            <hr>
          </div>
        </div>
        <div class="col-md-12 mb-5">
          <div class="row">
            <div class="p-3">
              <div>
                <div class="nav nav-tabs mb-3 border-0 our-technology-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Technologies</button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">CMS / CRM /
                    EComm</button>
                  <button class="nav-link" id="nav-Management-tab" data-bs-toggle="tab" data-bs-target="#nav-Management"
                    type="button" role="tab" aria-controls="nav-Management" aria-selected="false">Management &
                    Comms</button>
                  <button class="nav-link" id="nav-Code-Management-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-Code-Management" type="button" role="tab" aria-controls="nav-Code-Management"
                    aria-selected="false">Code
                    Management</button>
                  <button class="nav-link" id="nav-Testing-tab" data-bs-toggle="tab" data-bs-target="#nav-Testing"
                    type="button" role="tab" aria-controls="nav-Testing" aria-selected="false">Testing</button>
                  <button class="nav-link" id="nav-Platforms-tab" data-bs-toggle="tab" data-bs-target="#nav-Platforms"
                    type="button" role="tab" aria-controls="nav-Platforms" aria-selected="false">Platforms</button>
                  <button class="nav-link" id="nav-Production-tab" data-bs-toggle="tab" data-bs-target="#nav-Production"
                    type="button" role="tab" aria-controls="nav-Production" aria-selected="true">Production
                    Monitoring</button>
                  <button class="nav-link" id="nav-UI-tab" data-bs-toggle="tab" data-bs-target="#nav-UI" type="button"
                    role="tab" aria-controls="nav-UI" aria-selected="true">UI/UX</button>
                </div>
              </div>
              <div class="tab-content p-3" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row">
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/html.png" width="fit-content">
                        <span>HTML 5</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/css.png" width="fit-content">
                        <span>CSS 3</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <svg width="72" height="76" viewBox="0 0 72 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_101_999)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M36 0L0.686646 12.6172L6.07008 59.3936L36 76L65.93 59.3936L71.3134 12.6172L36 0Z"
                              fill="#DD0031" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M36 0V8.4362V8.39909V46.8939V76L65.9299 59.3936L71.3134 12.6172L36 0Z" fill="#C3002F" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M36 8.39893L13.923 57.9894H22.1525L26.5913 46.8937H45.3284L49.7673 57.9894H57.9968L36 8.39893ZM42.4515 40.0532H29.5547L36 24.5106L42.4515 40.0532Z"
                              fill="white" />
                          </g>
                          <defs>
                            <clipPath id="clip0_101_999">
                              <rect x="0.686646" width="70.6267" height="76" rx="8" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                        <span>Angular</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/javascript.png" width="fit-content" fill="none">
                        <span>Java Script</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/jquery.png" width="fit-content">
                        <span>jQuery</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/sass.png" width="fit-content">
                        <span>Sass</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/mongodb.png" width="fit-content">
                        <span>Mongo-DB</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/less.png" width="fit-content">
                        <span>Less</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/react.png" width="fit-content">
                        <span>React Js</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon icon-resp">
                        <img src="../assets/img/tec/laravel.png" width="fit-content">
                        <span>Laravel</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/wordpress.png" width="fit-content">
                        <span>Wordpress</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/aws-dyna.png" width="fit-content">
                        <span>AWS-Dynamo-DB</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/webrtc.png" width="fit-content">
                        <span>Webrtc</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/swift.png" width="fit-content">
                        <span>Swift</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/react-native.png" width="fit-content">
                        <span>React Native</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/nextjs.png" width="fit-content">
                        <span>Next Js</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/python.png" width="fit-content">
                        <span>Python</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/mysql.png " width="112" height="76">
                        <span>My SQL</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/socket-io.png" width="fit-content">
                        <span>Socket-IO</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/node-js.png" width="fit-content">
                        <span>Node Js</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/kotlin.png" width="fit-content">
                        <span>Kotlin</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/bootstrap5.png" width="fit-content">
                        <span>Bootstrap</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/ionic.png" width="fit-content">
                        <span>Ionic</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/tailwind.png" width="fit-content">
                        <span>Tailwind</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/flutter.png" width="fit-content">
                        <span>Flutter</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="row">
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/shopify.png" width="fit-content">
                        <span>Shopify</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/wordpress.png" width="fit-content">
                        <span>Wordpress</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/magento.png" width="fit-content">
                        <span>Magento</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/Braintree.png" width="fit-content">
                        <span>Braintree</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/paypal.png" width="fit-content">
                        <span>PayPal</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/worldline.png" width="fit-content">
                        <span>Worldline</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-Management" role="tabpanel" aria-labelledby="nav-Management-tab">
                  <div class="row">
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/trello.png" width="fit-content">
                        <span>Trello</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/basecamp.png" width="fit-content">
                        <span>Basecamp</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/jira.png" width="fit-content">
                        <span>Jira</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/slack.png" width="fit-content">
                        <span>Slack</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/cdnlogo.png" width="fit-content">
                        <span>CDNlogo</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-Code-Management" role="tabpanel"
                  aria-labelledby="nav-Code-Management-tab">
                  <div class="row">
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/bitbucket.png" width="fit-content">
                        <span>Bitbucket</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/github.png" width="fit-content">
                        <span>Github</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/gitlab.png" width="fit-content">
                        <span>Gitlab</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-Testing" role="tabpanel" aria-labelledby="nav-Testing-tab">
                  <div class="row">
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/mocha.png" width="fit-content">
                        <span>Mocha</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/karma.png" width="fit-content">
                        <span>Karma</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/jasmine.png" width="fit-content">
                        <span>Jasmine</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/chai.png" width="fit-content">
                        <span>Chai</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/Endtest.png" width="fit-content">
                        <span>EndTest</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/apache.png" width="fit-content">
                        <span>Apache</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/selenium.png" width="74" height="76">
                        <span>Selenium</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/codeception.png" width="103" height="76">
                        <span>Codeception</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-Platforms" role="tabpanel" aria-labelledby="nav-Platforms-tab">
                  <div class="row">
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/aws.png" width="130" height="76">
                        <span>AWS</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/aws-lambda.png" width="75" height="76">
                        <span>AWS-Lambda</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/aws-ec2.png" width="64" height="76">
                        <span>AWS-EC</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/amazon-s3.png" width="100%">
                        <span>AWS - S3</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/digitalocean.png" width="77" height="76">
                        <span>DigitalOcean</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/MongoLab.png" width="40" height="76">
                        <span>MongoLab</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/GoDaddy.png" width="115" height="76">
                        <span>Godaddy</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/docker.png" width="107" height="76">
                        <span>Docker</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-Production" role="tabpanel" aria-labelledby="nav-Production-tab">
                  <div class="row">
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/selenium.png" width="73" height="76">
                        <span>Sentry</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-UI" role="tabpanel" aria-labelledby="nav-UI-tab">
                  <div class="row">
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/figma.png" width="51" height="76">
                        <span>Figma</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/adobe-xd.png" width="79" height="76">
                        <span>Adobe XD</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/adobe-illustrator.png" width="79" height="76">
                        <span>Illustrator</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-6">
                      <div class="technology-icon">
                        <img src="../assets/img/tec/adobe-photoshop.png" width="79" height="76">
                        <span>Photoshop</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Our Clients -->
  <div class="Our-Clientes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 w-75">
          <h1 class="heading">What Our Clients Say</h1>
          <div class="d-flex align-items-center justify-content-center mb-2">
            <hr><span class="iconify me-4 ms-4 square" data-icon="ic:outline-square" data-width="20" data-height="20"
              data-rotate="48deg"></span>
            <hr>
          </div>
          <h4 class="subheading text-center mb-5">Our clients rave about the quality of our work and the level of
            customer
            service we provide,
            consistently describing us as a reliable and trustworthy technology partner.</h4>
        </div>
        <section class="Partner-With">
          <div class="container">
            <div class="row">
              <div class="col-md-12 mt-5">
                <div class="company_logos" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                  <div id="company_slider" class="owl-carousel owl-theme">
                    <owl-carousel-o [options]="customOptions">
                      <ng-template carouselSlide>
                        <div class="logo">
                          <img src="../../assets/img/Client-slider/Transit fare.png">
                        </div>
                      </ng-template>
                      <ng-template carouselSlide>
                        <div class="logo">
                          <img src="../../assets/img//Client-slider/potrashot-logo.png">
                        </div>
                      </ng-template>
                      <ng-template carouselSlide>
                        <div class="logo" style="width: 200px;">
                          <img src="../../assets/img/Client-slider/vf-external-full-logo-transparent.png">
                        </div>
                      </ng-template>
                      <ng-template carouselSlide>
                        <div class="logo">
                          <img src="../../assets/img/Client-slider/UseTransit.png">
                        </div>
                      </ng-template>
                      <ng-template carouselSlide>
                        <div class="logo">
                          <img src="../../assets/img/Client-slider/Yellow-Door-Logo.png">
                        </div>
                      </ng-template>
                      <ng-template carouselSlide>
                        <div class="logo">
                          <img src="../../assets/img/Client-slider/Greet eat.png">
                        </div>
                      </ng-template>
                    </owl-carousel-o>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- clinet say -->
        <div class="col-md-6">
          <div class="card p-3 mb-3 border-2">
            <div class="row g-0 align-items-center">
              <div class="col-md-2 d-flex align-items-center our-client-img-box">
                <img src="../assets/img/Worker-Beard.png" class="img-fluid rounded-5" alt="Hannibal Smith">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">Hannibal Smith</h5>
                  <p class="card-text"><small class="text-body-secondary">TransitFare</small></p>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam
                    in
                    hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-3 mb-3 border-2">
            <div class="row g-0 align-items-center">
              <div class="col-md-2 d-flex align-items-center our-client-img-box">
                <img src="../assets/img/Worker-Beard.png" class="img-fluid rounded-5" alt="Hannibal Smith">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">Hannibal Smith</h5>
                  <p class="card-text"><small class="text-body-secondary">GreetEat</small></p>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam
                    in
                    hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-3 mb-3 border-2">
            <div class="row g-0 align-items-center">
              <div class="col-md-2 d-flex align-items-center our-client-img-box">
                <img src="../assets/img/Worker-Beard.png" class="img-fluid rounded-5" alt="Hannibal Smith">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">Hannibal Smith</h5>
                  <p class="card-text"><small class="text-body-secondary">Yellow Door</small></p>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam
                    in
                    hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card p-3 mb-3 border-2">
            <div class="row g-0 align-items-center">
              <div class="col-md-2 d-flex align-items-center our-client-img-box">
                <img src="../assets/img/Worker-Beard.png" class="img-fluid rounded-5" alt="Hannibal Smith">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">Hannibal Smith</h5>
                  <p class="card-text"><small class="text-body-secondary">Potrashot</small></p>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam
                    in
                    hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Letest Blogs -->
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="heading">Our Latest Blog</h1>
          <div class="d-flex align-items-center justify-content-center mb-2">
            <hr><span class="iconify me-4 ms-4 square" data-icon="ic:outline-square" data-width="20" data-height="20"
              data-rotate="48deg"></span>
            <hr>
          </div>
          <h4 class="subheading">Our blogs offer valuable insights and information on software
            and technology development to help our readers stay ahead of the curve.</h4>
        </div>
        <div class="col-md-6  d-flex align-items-center justify-content-end mt-4">
          <a routerLink="/blog" routerLinkActive="active" type="button" class="btn btn-header">See all Blog
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-chevron-right ms-2" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg></a>
        </div>
      </div>
    </div>
    <section class="Our-Latest-Blog mt-4">
      <div class="container">
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 mb-4" *ngFor="let items of blog_data | slice:0:3">
                <div class="card">
                  <img src="{{items.img}}" class="card-img-top" alt="Blog">
                  <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <span>{{items.title}}</span>
                      <span>{{items.date}}</span>
                    </div>
                    <h5 class="card-title">{{items.card_title}}</h5>
                    <p class="card-text">{{items.content}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- News Letter -->
  <div>
    <section class="news-letter-from">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-12">
            <div class="news-letter-box" style="background-image: url('../assets/img/white_banner_bg.png');">
              <div class="row">
                <div class="col-md-6">
                  <img src="../assets/img/News-letter.png" width="214" height="159">
                </div>
                <div class="col-md-6">
                  <h3>Get our weekly</h3>
                  <h1>newsletter</h1>
                  <p>Get weekly updates on the newest design stories, case studies and tips right in your mailbox.
                  </p>
                  <span>Subscribe now!</span>
                </div>
                <div class="col-md-12">
                  <form class="news-letter-form">
                    <input type="email" name="news-email" id="news-email" placeholder="Enter Email Address">
                    <button class="btn btn-primary Subscribe-btn">
                      Subscribe
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Cookie Bar -->
  <section class="cookie-bar">
    <div class="cookie-notice container">
      <div class="cookie-modal-fixed axeptio_mount" id="axeptio_overlay" data-project-id="6442344ef185ec1a42db1050"
        data-nosnippet="" style="z-index: 2147483647;">
        <div class="needsclick" style="display: block !important;">
          <div class="WebsiteOverlay__WebsiteOverlayStyle-sc-1tlh7za-0 bqzerq ax-website-overlay">
            <div class="WebsiteOverlay__WidgetContainer-sc-1tlh7za-2 fFZLCu ax-widget-container" role="region"
              tabindex="-1">
              <input type="hidden" name="axeptio_cookies_127001:8800-en-2_value" value="">
              <div class="Widget__WidgetStyle-sc-zhn46e-2 gSJUfc axeptio_widget ax-widget" data-service="cookies"
                tabindex="-1">
                <div class="Widget__WidgetWrapper-sc-zhn46e-3 bOFruH axeptio_widget_wrapper">
                  <div class="Elements__Content-sc-xuz5b0-2 iSnUgg">
                    <div>
                      <div class="Elements__ContentHeading-sc-xuz5b0-6 ipqEjq">
                        <div class="Elements__Illustration-sc-xuz5b0-7 dolEkS">
                          <img
                            src="https://axeptio.imgix.net/2021/02/persos%20  site-44.png?auto=format&amp;fit=crop&amp;w=170&amp;h=auto&amp;dpr=1"
                            srcset="https://axeptio.imgix.net/2021/02/persos%20site-44.png?auto=format&amp;fit=crop&amp;w=170&amp;h=auto&amp;dpr=1 1x, https://axeptio.imgix.net/2021/02/persos%20site-44.png?auto=format&amp;fit=crop&amp;w=170&amp;h=auto&amp;dpr=2 2x, https://axeptio.imgix.net/2021/02/persos%20site-44.png?auto=format&amp;fit=crop&amp;w=170&amp;h=auto&amp;dpr=3 3x"
                            width="170" alt="" loading="lazy" class="Illustration__Img">
                          <div class="Elements__Thumbprint-sc-xuz5b0-10 vwoED">
                            <img
                              src="https://axeptio.imgix.net/2022/01/d35cbf0e-80e7-4b22-b1f0-22a6f9371134.png?bg=00537d&amp;w=200&amp;mask=https://axeptio.imgix.net/2022/01/64b1005a-e876-41b8-ab0b-5cef6f8a6caf.png"
                              width="200" height="134" alt="" class="Thumbprint__Img">
                          </div>
                        </div>
                        <div role="heading" aria-level="1" class="Widget__WidgetTitle-sc-zhn46e-7 bDfNjH">
                          <small>Hi there!</small>
                          <span>We're the cookies</span>
                        </div>
                      </div>
                      <div class="Elements__CookieMessage-sc-xuz5b0-4 cWsRDV">
                        We waited to be sure that this website interests you before knocking, but we <b>have</b> to know
                        if we can be your companions during your visit.
                      </div>
                      <div class="Elements__CookiePurpose-sc-xuz5b0-5 jtJqfo">
                        <div class="Widget__WidgetSubTitle-sc-zhn46e-8 iXwXKx">
                          Why are we using cookies?
                        </div>
                        <ul></ul>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div aria-hidden="true" class="Expandable__ExpandableContent-sc-p9rpqr-0 bQAcoQ"
                      style="max-height: 0px;">
                      <div>
                        <div class="Widget__AxeptioScreen-sc-zhn46e-19 heBQso ax-screen">
                          <div class="ax-screen-row ax-screen-header">
                            <img
                              src="https://axeptio.imgix.net/2020/09/persos_site_suite_05.png?auto=format&amp;fit=crop&amp;w=64&amp;h=64&amp;dpr=1"
                              srcset="https://axeptio.imgix.net/2020/09/persos_site_suite_05.png?auto=format&amp;fit=crop&amp;w=64&amp;h=64&amp;dpr=1 1x, https://axeptio.imgix.net/2020/09/persos_site_suite_05.png?auto=format&amp;fit=crop&amp;w=64&amp;h=64&amp;dpr=2 2x,https://axeptio.imgix.net/2020/09/persos_site_suite_05.png?auto=format&amp;fit=crop&amp;w=64&amp;h=64&amp;dpr=3 3x"
                              width="64" height="64" alt="">
                            <div class="ax-screen-row">
                              <div>
                                <strong>DevTroop</strong> trusts
                                <a class="ax-link"
                                  href="https://axeptio.eu?utm_source=127.0.0.1:8800&amp;utm_medium=widget">
                                  Axeptio
                                </a>
                                to protect your privacy and preferences on this website.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ButtonGroup__ButtonGroupStyle-sc-1usw1pe-1 eSyxGx">
                  <button id="axeptio_btn_dismiss" aria-label="Close without accepting cookies"
                    class="ButtonGroup__BtnStyle-sc-1usw1pe-0 HqzoZ cookie-btn">
                    No,thanks
                  </button>
                  <button id="axeptio_btn_configure" aria-label="I choose the cookies to configure"
                    class="ButtonGroup__BtnStyle-sc-1usw1pe-0 HqzoZ">
                    I want to choose
                  </button>
                  <button id="axeptio_btn_acceptAll" aria-label="Accept cookies"
                    class="ButtonGroup__BtnStyle-sc-1usw1pe-0 chZLxI cookie-btn">
                    OK!
                  </button>
                </div>
              </div>
              <div class="withConsent__CheckboxConsent-sc-16f08h3-0 jmVYKE">
                <label for="axeptio_consent_checkbox">
                  Axeptio consent
                </label>
                <input id="axeptio_consent_checkbox" type="checkbox" class="not_uniform comparator"
                  name="axeptio_cookies_127001:8800-en-2_accept" tabindex="-1" value="1">
              </div>
            </div>
            <button id="axeptio_main_button" title="Continue and decide later"
              class="AxeptioButton__AxeptioButtonStyle-sc-1h6hacv-0 hMxmxV"
              aria-label="Continue without accepting cookie settings">
              <span class="AxeptioIcon__AxeptioIconStyle-sc-acb40e-0 gBKrWE">
                <span class="Icon__IconStyleContainer-sc-1jpid70-0 bEBISY">
                  <span class="Icon__IconStyle-sc-1jpid70-1 bfWHZL svgr">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                      <path
                        d="M21.7 2.8C18.9 0 11.7-.3 5.1 5.4c-6.1 5.3-6 11.7-1.3 15.2 4.4 3.3 10.5 3.8 15.2-1.3 5.7-6.1 5.5-13.7 2.7-16.5z">
                      </path>
                      <path fill="#fff"
                        d="M15.8 9.4l-.8-.8-3 3.1-3.1-3.1-.7.8 3.1 3.1-3.1 3.1.8.8 3.1-3.1 3.1 3.1.8-.8-3.1-3.1 2.9-3.1z">
                      </path>
                    </svg>
                  </span>
                </span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>